/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    animation: fadeIn 0.5s ease-in-out;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.links a {
    margin: 0 15px;
    color: #1E90FF;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover, .links a:focus {
    text-decoration: underline;
    outline: none;
}

/* Section Titles */
h2 {
    color: #555;
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #ddd;
    letter-spacing: 1px;
}

/* Section Styling */
#personal-info, #family-details, #partner-preference {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}

/* Images */
.profile-picture, .family-picture {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Details Section */
.details p {
    font-size: 1rem;
    margin: 10px 0;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 30px;
}

#scroll-to-top {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        text-align: center;
    }
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
